@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Montserrat:ital,wght@0,100;0,300;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Gwendolyn:wght@700&family=Montserrat:ital,wght@0,100;0,300;0,600;1,100&display=swap');

.welcome{
  color: #006164;
  font-family: "Montserrat";
  font-weight: 800px;
  text-align: center;
  font-size: 80px;
  margin-top: 20px;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.36);
}

.intro_text{
  font-family: "Montserrat";
  font-weight: bold;
  margin-left: 25px;
}

.container_1{
  display: flex;
  justify-content: center;
  
}

.intro_pic{
  height: 300px;
  width: auto;
}

.box{
  position: relative;
  width: auto;
  height: auto;
  margin: 50px 70px;  
  
  border-radius: 15px;
  padding: 15px;
  box-shadow: -3px 1px 21px -9px rgba(0,0,0,0.67);
}

.title_1{
  color: #00000;
  font-family: "Montserrat";
  font-size: 40px;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.36);  
  margin-bottom: 0px;
}

.writer_1{
  color: #00000;
  font-family: "Montserrat";
  font-size: 21px;   
}

.summary_1{
  color: #00000;
  font-family: "Montserrat";
  font-size: 19px;
  
}
.read_button{
  padding: 9px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #006164;   
  
}

.read_button:hover{
   background-color: #00AEC0;   
}

.title_2{
  color: #000000;
  font-family: "Montserrat";
  font-size: 50px;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.36);
  margin-bottom: 0px;
}

.writer_2{
  color: #000000;
  font-family: "Montserrat";
  font-size: 25px; 
  
}

.box_2{
  background-color: #ffffff;
  position: relative;
  width: auto;
  height: auto;
  margin: 25px 150px;
  padding: 20px 60px;
  border-radius: 15px;
  box-shadow: -3px 1px 21px -9px rgba(0,0,0,0.72);
}

.line_1{
  text-shadow: 1px 3px 2px rgba(0,0,0,0.36);
  border-top: 1.5px solid #000
}

.content{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 20px;
}

.indi_arti{
  background-color: #e8e8e8;
}

.back_button{
  color: #006164;
}

.write_label{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 30px;
}

.input_box{
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-family: "Montserrat";
  font-size: 18px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 15px;
  border-color: #006164;
}

.input_box:focus {
  border: 3px double #006164;
  padding: 10px 10px;
  
}

.text_box{
  width: 100%; 
  height: 200px;
  border-radius: 18px;
  font-family: "Montserrat";
  font-size: 15px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: #006164;
}

.text_box:focus {
  border: 3px double #006164;
  padding: 10px 10px; 
}



.box_form{
  position: relative;
  width: auto;
  height: auto;
  margin: 20px 20%;  
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: -3px 1px 21px -9px rgba(0,0,0,0.79);
}

.weave{
  color: #000000;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 800px;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  text-shadow: 3px 2px 3px rgba(0,0,0,0.75);
}

.submit_button{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.sub{
  padding: 9px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #006164;   
  font-family: "Montserrat";
  family-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

.sub:hover{
  background-color: #00AEC0;  
}

.Thankyou{
  width: 1200px;
  height: auto;
}