<!DOCTYPE html>
<html>
  <head>
    <title>Word Alchemy - Article Submitted!</title>
    <link rel="icon" type="image/png" href="https://word-alchemy.sakshii2004.repl.co/static/icon.png">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="static/style.css" type="text/css">
   
  </head>
  <body class="indi_arti"> 
    
      {% include 'nav.html' %}    
      <div>
       <img class="Thankyou box_2" src="https://word-alchemy.sakshii2004.repl.co/static/Thank.png"> 
        
      </div>
    
    
    
  </body>
  
</html>
