<!DOCTYPE html>
<html>
  <head>
    <title>Word Alchemy</title> 
    <link rel="icon" type="image/png" href="https://word-alchemy.sakshii2004.repl.co/static/icon.png">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>
  <body>    
    {% include 'nav.html' %}

    <h1 class="welcome">Welcome to Word Alchemy!</h1>

    <div class="row">
      <div class="col-7 intro_text">
        {% include 'intro_para.html' %}
      </div>

      <div class="col container_1">
        <img class="intro_pic" src="https://word-alchemy.sakshii2004.repl.co/static/intro.png">        
      </div>
    </div>
    
  </body>
  
</html>