<form action="/write/submit" method="POST">
  <div class="box_form">
    <label class="write_label">Title</label><br>
    <input type="text" name="title" class="input_box"><br>
  </div>

  <div class="box_form">
    <label class="write_label">Writer</label><br>
    <input type="text" name="writer" class="input_box"><br>
  </div>

  <div class="box_form">
    <label class="write_label">Summary</label><br>
    <textarea name="summary" class="text_box"></textarea><br>
  </div>

  <div class="box_form">
    <label class="write_label">Content</label><br>
    <textarea name="content" class="text_box"></textarea><br>
  </div>

  <div class="submit_button">
   <input type="submit" class="sub">
  </div>
  
</form>